.heading{
    font-size: 2vw;
    position: absolute;
    top: 20px;
}

.peragraph{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: fit-content;
    text-align: center;
    background-color: #000;
    margin: 10px;
    padding: 20px;
    opacity: 0.6;
    font-size: 1.5vw;
    border-radius: 25px;
}

.navMain{
    opacity: 0.6;
    height: fit-content;
}
.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{ 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    color: #fff;
    text-align: center;
    background-color: #000;
    margin: 10px;
    opacity: 0.6;
    width: 60vw;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.5vw;
    /* opacity: 1; */
}

.mainImg{
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}
/* *****************************************About section ************************************ */
.about{
    width: fit-content;
}
.aboutSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutImg{
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
}
/* *****************************************services section ************************************ */
.Section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serviceImage{
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}
.cards{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.card{
    text-align: center;
    background-color: #000;
    width: 25vw;
    height:35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    opacity: 0.7;
}
.card:hover, .card:focus, .card:active{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.serIcon{
    width: 25vw;
    height: 30vh;
}

@media screen and (max-width: 770px) {
    .card {
        height: 25vh;
        width: 28vh;
       }
    .serIcon {
     width: 42vw;
     height: 20vh;
    }
}


@media screen and (max-width: 500px) {
    .mainImg{
        height: 50vh;
    }
    .aboutImg{
        height: 50vh;
    }
    .intro{
        font-size: 2.2vw;
    }
    .heading{
        font-size: 4vw;
    }
    .peragraph{
        font-size: 2vw;
    }
    .card {
        height: 26vh;
        width: 24vh;
    }
    .serIcon {
        width: 40vw;
        height: 18vh;
    }
    .serPera {
        font-size: 14px;
    }
}
